@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}
.App {
  position: relative;
  width: 100%;
  height: auto;
  overflow-y: auto;
}
.max-width {
  max-width: 1400px;
  margin: auto;
}